@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0.9901 0.0034 247.8573;
    --foreground: 0.2402 0.0106 242.1682;
    --card: 1 0 0;
    --card-foreground: 0.2138 0.0019 286.2347;
    --popover: 0.9901 0.0034 247.8573;
    --popover-foreground: 0.2402 0.0106 242.1682;
    --primary: 0.3273 0.0556 200.2681;
    --primary-foreground: 0.9806 0.0106 196.9841;
    --secondary: 0.899 0.0297 201.8904;
    --secondary-foreground: 0.3002 0.02 201.2869;
    --muted: 0.9406 0.0051 228.8207;
    --muted-foreground: 0.5494 0.0099 248.0074;
    --accent: 0.8792 0.0998 160.2426;
    --accent-foreground: 0.2506 0.0214 158.8154;
    --destructive: 0.6207 0.2203 24.8903;
    --destructive-foreground: 0.9798 0.0098 25.0729;
    --border: 0.8805 0.0043 236.5046;
    --input: 0.8805 0.0043 236.5046;
    --ring: 0.3273 0.0556 200.2681;
    --chart-1: 0.3273 0.0556 200.2681;
    --chart-2: 0.3851 0.0817 164.317;
    --chart-3: 0.5789 0.1799 24.7386;
    --chart-4: 0.5496 0.161 299.84;
    --chart-5: 0.4873 0.0997 91.9586;
    --radius: 0.625rem;
    --sidebar-background: 0.9597 0.0052 247.8776;
    --sidebar-foreground: 0.2607 0.0092 234.0785;
    --sidebar-primary: 0.3273 0.0556 200.2681;
    --sidebar-primary-foreground: 0.9806 0.0106 196.9841;
    --sidebar-accent: 0.8792 0.0998 160.2426;
    --sidebar-accent-foreground: 0.2506 0.0214 158.8154;
    --sidebar-border: 0.8792 0.0998 160.2426;
    --sidebar-ring: 0.3273 0.0556 200.2681;
    --sidebar: 0.9597 0.0052 247.8776;
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Libre Baskerville, ui-serif, serif;
    --font-mono: JetBrains Mono, ui-monospace, monospace;
    --shadow-color: 0 0 0;
    --shadow-opacity: 0.11;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.06);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.06);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.11), 0 1px 2px -1px hsl(0 0% 0% / 0.11);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.11), 0 1px 2px -1px hsl(0 0% 0% / 0.11);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.11), 0 2px 4px -1px hsl(0 0% 0% / 0.11);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.11), 0 4px 6px -1px hsl(0 0% 0% / 0.11);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.11), 0 8px 10px -1px hsl(0 0% 0% / 0.11);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.28);
    --tracking-normal: 0em;
  }
  .dark {
    --background: 0.2126 0.0231 246.301;
    --foreground: 0.9603 0.0101 238.5109;
    --card: 0.2139 0.0134 243.5573;
    --card-foreground: 0.9603 0.0101 238.5109;
    --popover: 0.2144 0.0109 242.2662;
    --popover-foreground: 0.9693 0.01 238.5092;
    --primary: 0.4021 0.0684 200.4383;
    --primary-foreground: 0.9806 0.0106 196.9841;
    --secondary: 0.4203 0.0603 199.857;
    --secondary-foreground: 0.9506 0.0106 196.9774;
    --muted: 0.3006 0.01 229.2278;
    --muted-foreground: 0.6992 0.0101 242.8993;
    --accent: 0.501 0.1065 164.1456;
    --accent-foreground: 0.9807 0.0107 158.8514;
    --destructive: 0.6192 0.2398 24.8761;
    --destructive-foreground: 0.9798 0.0098 25.0729;
    --border: 0.2607 0.0092 234.0785;
    --input: 0.2607 0.0092 234.0785;
    --ring: 0.4021 0.0684 200.4383;
    --chart-1: 0.4021 0.0684 200.4383;
    --chart-2: 0.501 0.1065 164.1456;
    --chart-3: 0.699 0.1801 24.824;
    --chart-4: 0.6794 0.1599 299.951;
    --chart-5: 0.6478 0.1326 92.441;
    --sidebar-background: 0.2123 0.0278 247.1405;
    --sidebar-foreground: 0.9211 0.0102 238.5189;
    --sidebar-primary: 0.4021 0.0684 200.4383;
    --sidebar-primary-foreground: 0.9806 0.0106 196.9841;
    --sidebar-accent: 0.501 0.1065 164.1456;
    --sidebar-accent-foreground: 0.9807 0.0107 158.8514;
    --sidebar-border: 0.501 0.1065 164.1456;
    --sidebar-ring: 0.4021 0.0684 200.4383;
    --radius: 0.625rem;
    --sidebar: 0.2123 0.0278 247.1405;
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Libre Baskerville, ui-serif, serif;
    --font-mono: JetBrains Mono, ui-monospace, monospace;
    --shadow-color: 0 0 0;
    --shadow-opacity: 0.11;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.06);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.06);
    --shadow-sm:
      0 1px 3px 0px hsl(0 0% 0% / 0.11), 0 1px 2px -1px hsl(0 0% 0% / 0.11);
    --shadow:
      0 1px 3px 0px hsl(0 0% 0% / 0.11), 0 1px 2px -1px hsl(0 0% 0% / 0.11);
    --shadow-md:
      0 1px 3px 0px hsl(0 0% 0% / 0.11), 0 2px 4px -1px hsl(0 0% 0% / 0.11);
    --shadow-lg:
      0 1px 3px 0px hsl(0 0% 0% / 0.11), 0 4px 6px -1px hsl(0 0% 0% / 0.11);
    --shadow-xl:
      0 1px 3px 0px hsl(0 0% 0% / 0.11), 0 8px 10px -1px hsl(0 0% 0% / 0.11);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.28);
  }
  .theme {
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-mono: JetBrains Mono, ui-monospace, monospace;
    --font-serif: Libre Baskerville, ui-serif, serif;
    --radius: 0.625rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
